google_maps_lead_gen_workflow (1).json
{
  "name": "Google Maps Lead Generator - No Website Businesses",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "start-lead-gen",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Manual Trigger (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Robust extraction of search parameters\nconst input = $input.first().json;\n\n// Check query property (GET), body property (POST), or the root object\nconst keyword = input.query?.keyword || input.body?.keyword || input.keyword || 'restaurant';\nconst location = input.query?.location || input.body?.location || input.location || 'Mumbai';\nconst maxResults = parseInt(input.query?.maxResults || input.body?.maxResults || input.maxResults) || 20;\n\nconst searchQuery = `${keyword} in ${location}`;\n\nreturn [{\n  json: {\n    keyword,\n    location,\n    maxResults,\n    searchQuery,\n    startedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Set Search Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "key",
              "value": "={{ $credentials.queryAuth.value }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Google Maps Text Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract places from the Google Maps API response\nconst response = $input.first().json;\nconst places = response.results || [];\nconst maxResults = $(\"Set Search Parameters\").first().json.maxResults;\n\nif (places.length === 0) {\n  return [];\n}\n\nreturn places.slice(0, maxResults).map(place => ({\n  json: {\n    place_id: place.place_id || '',\n    name: place.name || '',\n    address: place.formatted_address || '',\n    rating: place.rating || null,\n    total_ratings: place.user_ratings_total || 0,\n    business_status: place.business_status || 'UNKNOWN',\n    types: (place.types || []).join(', ')\n  }\n}));"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Parse Places List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "place_id",
              "value": "={{ $json.place_id }}"
            },
            {
              "name": "fields",
              "value": "name,formatted_address,formatted_phone_number,international_phone_number,website,opening_hours,business_status,url"
            },
            {
              "name": "key",
              "value": "={{ $credentials.queryAuth.value }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Get Place Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const details = $input.first().json.result || {};\nconst basicInfo = $(\"Parse Places List\").first().json;\n\nconst website = details.website || '';\nconst phone = details.formatted_phone_number || details.international_phone_number || '';\n\nreturn [{\n  json: {\n    place_id: basicInfo.place_id,\n    name: details.name || basicInfo.name,\n    address: details.formatted_address || basicInfo.address,\n    phone: phone,\n    website: website,\n    email: 'N/A',\n    google_maps_url: details.url || '',\n    business_status: details.business_status || basicInfo.business_status,\n    types: basicInfo.types,\n    rating: basicInfo.rating,\n    total_ratings: basicInfo.total_ratings,\n    has_website: website.trim() !== '',\n    has_phone: phone.trim() !== ''\n  }\n}];"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Merge Place Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-no-website",
              "leftValue": "={{ $json.has_website }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "filter-operational",
              "leftValue": "={{ $json.business_status }}",
              "rightValue": "OPERATIONAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Filter: No Website & Operational",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "mode": "removeKeyMatches",
        "keys": {
          "values": [
            {
              "name": "place_id"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [
        1800,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nreturn [{\n  json: {\n    'Business Name': item.name || '',\n    'Address / Location': item.address || '',\n    'Phone Number': item.phone || 'N/A',\n    'Email': item.email || 'N/A',\n    'Has Website': 'No',\n    'Google Maps URL': item.google_maps_url || '',\n    'Business Type': item.types || '',\n    'Rating': item.rating || 'N/A',\n    'Total Reviews': item.total_ratings || 0,\n    'Status': item.business_status || '',\n    'Date Scraped': new Date().toISOString(),\n    'Follow Up': 'Pending'\n  }\n}];"
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Format for Google Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Business Name": "={{ $json['Business Name'] }}",
            "Address / Location": "={{ $json['Address / Location'] }}",
            "Phone Number": "={{ $json['Phone Number'] }}",
            "Email": "={{ $json['Email'] }}",
            "Has Website": "={{ $json['Has Website'] }}",
            "Google Maps URL": "={{ $json['Google Maps URL'] }}",
            "Business Type": "={{ $json['Business Type'] }}",
            "Rating": "={{ $json['Rating'] }}",
            "Total Reviews": "={{ $json['Total Reviews'] }}",
            "Status": "={{ $json['Status'] }}",
            "Date Scraped": "={{ $json['Date Scraped'] }}",
            "Follow Up": "={{ $json['Follow Up'] }}"
          }
        }
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2240,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Lead generation complete.\",\n  \"timestamp\": \"{{ $now }}\"\n}"
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2460,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "leads-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000001",
      "name": "Set Leads",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        700
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Get rows in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "b2c3d4e5-0003-0003-0003-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        700
      ]
    }
  ],
  "connections": {
    "Manual Trigger (Webhook)": {
      "main": [
        [
          {
            "node": "Set Search Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Search Parameters": {
      "main": [
        [
          {
            "node": "Google Maps Text Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Maps Text Search": {
      "main": [
        [
          {
            "node": "Parse Places List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Places List": {
      "main": [
        [
          {
            "node": "Get Place Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Place Details": {
      "main": [
        [
          {
            "node": "Merge Place Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Place Details": {
      "main": [
        [
          {
            "node": "Filter: No Website & Operational",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: No Website & Operational": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Format for Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Google Sheets": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": []
    },
    "Set Leads": {
      "main": [
        [
          {
            "node": "Get rows in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}